#!/usr/bin/make -f

%:
	dh $@ --with python2 

override_dh_auto_test:
	(cd test/iiinstrumentp && ./bootstrap && ./configure && make)
	python setup.py build_ext -i
	MALLOC_CHECK_=0 PYTHONPATH=$(pwd) python test/TestRecipe.py

